@import '~bootstrap';
@import '~bootstrap-vue';
li {
  list-style: none;
}
.team_page{
    width:50%
}
th {
  background-color: #eee;
  position: sticky;
  top: -1px;
  z-index: 2;
}
th:first-of-type {
  left: 0;
  z-index: 3;
}

tbody tr td:first-of-type {
  background-color: #eee;
  position: sticky;
  left: -1px;
  text-align: left;
}


